<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Girls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Girls">
    <link rel="icon" href="/static/images/hlm.png">
    <link rel="manifest" href="/static/mainfest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swiper Gallery with Thumbnails</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js"></script>
</head>

<body>
<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="path/to/image-1.jpg" itemprop="contentUrl" data-size="1200x900">
        <img src="path/to/image-1-thumbnail.jpg" itemprop="thumbnail" alt="Image 1" />
    </a>
    <figcaption itemprop="caption description">Image 1</figcaption>
  </figure>
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="path/to/image-2.jpg" itemprop="contentUrl" data-size="1200x900">
        <img src="path/to/image-2-thumbnail.jpg" itemprop="thumbnail" alt="Image 2" />
    </a>
    <figcaption itemprop="caption description">Image 2</figcaption>
  </figure>
  <!-- ... 添加更多图片 ... -->
</div>

</body>
</html>